
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div>
    <h3><a href="@Url.Action("FoodCollection", "NGO")">Meal Collection and Delivery</a></h3>
    <h3><a href="@Url.Action("ShowAllEmployee", "NGO")">Show All Employee Details</a></h3>
    <h3><a href="@Url.Action("HireEmployee", "NGO")">Hire Employee</a></h3>
    <h3><a href="@Url.Action("createAdmin", "Auth")">Create Admin</a></h3>
    <h3><a href="@Url.Action("EditProfile", "NGO")">Edit Profile</a></h3>
    <h3><a href="@Url.Action("Logout", "Auth")">Logout</a></h3>
</div>