@{
    ViewBag.Title = "Home Page";
}

<style>
    label {
        text-align: left;
        width: 15%;
    }

    span {
        width: 2%;
        text-align: right;
    }
</style>

@{ 
    string[] linkSplit = ViewBag.Person.githubLink.Split('/');
    string linkName = linkSplit[linkSplit.Length - 1];
}

<main>
    <h1>Portfolio Home</h1><hr /><br />
    <label>Name</label><span>:</span> @ViewBag.Person.name<br />
    <label>ID</label><span>:</span> @ViewBag.Person.id<br />
    <label>Email</label><span>:</span> @ViewBag.Person.email<br />
    <label>Github Profile Link</label><span>:</span> <a href="@ViewBag.Person.githubLink" target="_blank"> @linkName</a><br />

</main>